@font-face {
    font-family: Existence;
    src: url("fonts/existence.otf") format("opentype");
}

html {
    font-family: Existence;
}

header {
    background-color: rgba(0,0,0,0.5);
    height: 4em;
}

.app_title {
    display: inline-block;
    width: 10em;
    height: 4em;
    line-height: 4em;
    color: white;
    background-color: #c0151f;
    font-weight: bolder;
    text-align: center;
    margin-left: 4em;
    font-size: 1.2em;
}

#cy {
  height: 530px;
  width: 80%;
  margin: 0 auto;
  margin-top: 3em;
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  background-color: rgba(0,0,0,0.7);
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
}