@font-face {
    font-family: Existence;
    src: url("fonts/existence.otf") format("opentype");
}

html {
    font-family: Existence;
    overflow: hidden;
}

header {
    background-color: rgba(0,0,0,0.5);
    height: 4em;
}

.app_title {
    display: inline-block;
    width: 10em;
    height: 4em;
    line-height: 4em;
    color: white;
    background-color: #c0151f;
    font-weight: bolder;
    text-align: center;
    margin-left: 4em;
    font-size: 1.2em;
}

#cy {
  height: 460px;
  width: 80%;
  margin: 0 auto;
  margin-top: 2em;
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  background-color: rgba(0,0,0,0.7);
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

footer {
    margin-top: 2.6em;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    height: 4em;
    line-height: 4em;
}

button {
  background: #c0151f;
  margin-left: 2em;
  margin-right: 2em;
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #c0151f, #c0151f);
  background-image: -moz-linear-gradient(top, #c0151f, #c0151f);
  background-image: -ms-linear-gradient(top, #c0151f, #c0151f);
  background-image: -o-linear-gradient(top, #c0151f, #c0151f);
  background-image: linear-gradient(to bottom, #c0151f, #c0151f);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 0px;
  text-decoration: none;
}

button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.check_in {
    display: none;
    position: absolute;
    right: 0;
    top: 4em;
    height: 81%;
    width: 380px;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
}

li{
    padding: 0.5em;